html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {

    /* Colores */
    --fondo-oscuro: #0d1b2a;
    --fondo-azul: #112952;
    --fondo-azul-claro: #1b263b;
    --texto-claro: #ffffff;
    --texto-secundario: #d4d7e0;
    --acento: #4cc9f0;

    /* Tipografia */
    --tipografia: "Montserrat", sans-serif;
    --peso-normal: 400;
    --peso-negrita: 700;
    --title: 58px;
    --subtitle: 36px;
    --medio: 24px;
    --texto: 16px;
    --microtexto: 12px;
}

body {
    font-family: var(--tipografia);
    background-color: var(--texto-secundario);
}

main {
    margin: 30px auto 0 auto;
    max-width: 1000px;
}

/* Menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    background-color: var(--fondo-oscuro);
}

.menu-img {
    width: 50px;
    object-fit: cover;
}

.menu-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.menu-link {
    text-decoration: none;
    color: var(--texto-claro);
    font-weight: var(--peso-negrita);
}

/* Hero */

.hero {
    background-image: url("img/brigidos.jpg");
    object-fit: cover;
    object-position: bottom;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hero-title {
    font-size: var(--title);
    font-weight: var(--peso-negrita);
    color: var(--fondo-azul-claro);
    padding: 0;
    margin: 0;
}

@media (max-width: 550px) {
    .hero-title {
        font-size: 46px;
        text-align: center;
    }
}

.hero-subtitle {
    font-size: var(--subtitle);
    font-weight: var(--peso-normal);
    color: var(--fondo-azul-claro);
    padding: 0;
    margin: 0;
}

@media (max-width: 550px) {
    .hero-subtitle {
        font-size: 28px;
        text-align: center;
    }
}

.hero-button {
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    background-color: var(--fondo-azul);
    color: var(--texto-secundario);
    font-size: var(--texto);
    padding: 10px;
    margin: 50px;
    cursor: pointer;
}

.hero-button:hover {
    background-color: var(--fondo-azul-claro);
}

/* About Us */

.about-us {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--texto-claro);
    border-radius: 8px;
    padding: 20px;
    flex-wrap: nowrap;
}

@media (max-width: 550px) {
    .about-us {
        flex-direction: column;
    }
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 80%;
}

@media (max-width: 550px) {
    .about-text {
        width: 100%;
    }
}

.about-title {
    margin: 0;
    padding: 0;
    font-size: var(--medio);
}

.about-subtitle {
    margin: 0;
    padding: 0;
    font-size: var(--texto);
}

.collage {
    width: 20%;
}

@media (max-width: 550px) {
    .collage {
        width: 100%;
    }
}

.collage-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    transition: 0.3 ease;
}

@media (max-width: 550px) {
    .collage-img {
        width: 162px;
        height: 150px;
    }
}

.collage-img:hover {
    transform: scale(1.3);
}

/* Galery */

.galery {
    margin: 30px;
}

.galery-text {
    text-align: center;
    color: var(--fondo-azul-claro);
}

.galerys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.galery-img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

/* Events */

.events {
    margin: 30px;
}

.events-text {
    text-align: center;
    color: var(--fondo-azul-claro);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 550px) {
    .cards {
        flex-direction: column;
    }
}

.card {
    width: 33.3%;
    background-color: var(--texto-claro);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 550px) {
    .card {
        width: 100%;
    }
}

.name-ruta {
    color: var(--fondo-azul-claro);
    font-size: var(--medio);
    margin: 0;
    padding: 0;
    text-align: center;
}

.date {
    color: var(--fondo-azul);
    margin: 0;
    padding: 0;
}

.description {
    color: var(--fondo-azul-claro);
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

/* Vehicle Of Week */

.vehicle-week {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-week {
    width: 60%;
    background-color: var(--texto-claro);
    padding: 5px;
    border-radius: 8px;
}

@media (max-width: 550px) {
    .card-week {
        width: 100%;
    }
}

.img-week {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.week-text {
    padding: 15px;
}

.text-week {
    text-align: center;
    color: var(--fondo-azul-claro);
}

.win-text {
    color: var(--fondo-azul-claro);
}

.week-description {
    color: var(--fondo-azul-claro);
    line-height: 1.2;
}

/* Form */

.form {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.formu-text {
    color: var(--fondo-azul-claro);
}

.formulario {
    background-color: var(--texto-claro);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-items {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 50%;
}

.formu-datos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-label {
    color: var(--fondo-azul-claro);
    font-weight: 600;
}

.form-input {
    width: 100%;
    height: 30px;
    color: var(--fondo-azul-claro);
    font-size: var(--texto);
    border: none;
    background-color: #f0efef;
    border-radius: 8px;
}

@media (max-width: 550px) {
    .form-input {
        width: 100%;
    }
}

.form-input:focus {
    outline: none;
    border: 2px solid var(--fondo-azul);
}

.form-button {
    margin-top: 20px;
    width: 50%;
    height: 35px;
    font-size: var(--texto);
    padding: 7px;
    color: var(--texto-claro);
    background-color: var(--fondo-azul);
    border: none;
    border-radius: 8px;
}

@media (max-width: 550px) {
    .form-button {
        width: 100%;
    }
}

/* Footer */

.footer-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-oscuro);
}

.footer-text {
    font-size: var(--texto);
    color: var(--texto-claro);
    font-weight: 600;
}